@tailwind base;
@tailwind components;
@tailwind utilities;

.clipboard-body {
  background-image: url("/src/Clipboard/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  .clipboard-body {
    background-image: url("/src/Clipboard/images/bg-header-mobile.png");
  }
}

@layer components {
  .clipboard-h1 {
    @apply text-4xl md:text-5xl text-center px-4 mt-8 text-darkGrayishBlue opacity-90;
  }
  .clipboard-p {
    @apply text-xl max-w-4xl mx-auto text-center p-8 px-4 text-grayishBlue font-thin mb-10;
  }
}
